<%- include("partials/header") -%>
    <h1 class="show"><i class="fa fa-user-circle" aria-hidden="true"></i> <%= user.name %></h1>
    <p class="show"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= user.location %></p>

<%- include("partials/footer") -%>